<div class="jumbotron">
    <h1>You are not allowed... TRY ANOTHER ACTION FROM BELOW:</h1>
    <p class="lead">Click any button to continue:</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>BOOK SECTION</h2>
        <p><a class="btn btn-default" href="https://localhost:44365/Books/ViewBook">View all books &raquo;</a></p>
    </div>
</div>
