@model IEnumerable<LibrariDenisKoleci.DbModel.Book>
@{
    ViewBag.Title = "ViewBook";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Books</h2>


<br />
<br />

<table id="books" class="table table-bordered table-hover">

    <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Category</th>
          
        </tr>

    </thead>
    <tbody>
        @foreach (var book in Model)
            {
                <tr>
                    <td>@book.Title</td>
                    <td>@book.Author</td>
                    <td>@book.Category.Name</td>
                </tr>
            }
    </tbody>
</table>
